
*{
    background-color: rgb(0, 0, 0);
}
.center{
    text-align: center;
    background-color: wheat;
    line-height: 3rem;
    font-size: 2rem !important;
    color: rgb(3, 14, 57);
    font-weight: 600;
    margin-top: -2rem;
}


.linkMe{
    margin-left: 35rem;
    font-size: 1.7rem;
    font-weight: 700;
    text-decoration: underline;
    color: blue;
    
}